/* =============
    Variables
============= */

// Define the breakpoints
// Small tablets and large smartphones
$screen-sm-min: 576px;

// Small tablets
$screen-md-min: 768px;

// Large tablets and small desktops
$screen-lg-min: 1024px;

// Large desktops
$screen-xl-min: 1200px;

// Large desktops
$screen-xl-hero-2-min: 1350px;

// Colors
$white: #fff;
$black: #000;
$brown: #5A433C;
$caramel: #AC6737;
$tan: #FFF5EB;
$blue: #ABCEF4;

$tan1: rgba(255, 245, 235, 0.7);

$blue1: rgba(169,205,244, 0.7);


