/* =============
    Base
============= */
body{
.circle {
    border-radius: 50%;
    background-color: $caramel;
    width: 80px;
    height: 80px;
    color: $tan;
    font-size: rem-calc(50);
    display: flex;
    align-items: center;
    justify-content: center;

    @include lg{
        font-size: rem-calc(80);
        width: 120px;
        height: 120px;
    }

}

}
