/* =============
    Typography
============= */
a {
    text-decoration: none;
}

body{
    font-family: 'DM Sans', sans-serif;

    h1, h2{
        font-family: 'Fredoka One', cursive;
    }

    h1,h2,h3,h4,h5,h6{
        padding: 0;
        margin: 0;
    }


    p{
        padding: 0;
        margin: 0;
    }
    
    figure{ 
        padding: 0;
        margin: 0;
    }
    

}

ul{ 
    padding: 0;
    margin: 0;
    li{
        list-style: none;
    }
}