#personality {

    >div {


        background-image: url("../img/personality/furwithgradient.png");
        background-position: center;
        background-size: cover;
        margin-top: -50px;
        padding: 64px 0;

        height: 1100px;

        display: grid;
        grid-template-columns: 16px auto 16px;
        grid-template-areas: ". personality ."
            ". p-images .";

        @include md {
            height: 1500px;
            margin-top: -70px;
            padding: 72px 0;
        }


        @include lg {
            grid-template-columns: auto 1000px auto;
            margin-top: -90px;
            padding: 130px 0;
        }

        @include xl {
            grid-template-columns: auto 70vw auto;
            height: 1800px;
            margin-top: -125px;
            padding: 150px 0;
            background-position: top;
        }


        >div {

            grid-area: personality;



            #hero-content {

                display: grid;
                grid-template-areas: " . hero-content . ";
                grid-template-columns: 40px auto 40px;
                margin: 64px 0;



                >div {
                    grid-area: hero-content;

                    display: grid;
                    grid-template-columns: 40% auto;
                    grid-template-areas: "h1 h2";


                    @include md {
                        grid-template-columns: 30% auto;
                    }


                    h1 {
                        grid-area: h1;
                        color: $brown;
                        font-size: rem-calc(200);
                        display: flex;
                        justify-content: center;

                        @include md {

                            justify-content: flex-end;
                            align-items: center;
                            margin-right: 50px;
                        }
                    }

                    h2 {
                        grid-area: h2;
                        color: $caramel;
                        font-size: rem-calc(50);

                        @include md {
                            font-size: rem-calc(70);

                        }

                        @include lg {
                            font-size: rem-calc(85);
                        }

                        @include xl {
                            font-size: rem-calc(100);
                        }
                    }
                }

            }

            #personality-content {

                display: grid;
                grid-template-columns: 60px auto 60px;
                grid-template-areas: ". p-content .";
                margin-bottom: 20px;

                @include md {
                    grid-template-columns: auto 600px auto;
                }

                @include lg {
                    grid-template-columns: auto 800px auto;
                    margin-bottom: 60px;
                }


                >div {
                    grid-area: p-content;
                    display: grid;
                    grid-template-columns: 30% auto;
                    grid-template-areas: "h1 h2"
                        "h1 h2"
                        "p1 p1"
                        "p2 p2";

                    @include md {
                        grid-template-columns: 20% auto;
                        grid-template-areas: "h1 h2"
                            "h1 p1"
                            ". p1"
                            ". p2";
                    }


                    h1 {
                        grid-area: h1;

                    }



                    h2 {
                        grid-area: h2;
                        color: $caramel;
                        font-size: rem-calc(35);

                        @include md {
                            font-size: rem-calc(40);
                        }
                    }

                    p1 {
                        grid-area: p1;
                        color: $brown;
                        font-size: rem-calc(18);
                        margin-top: 20px;

                        @include md {
                            font-size: rem-calc(24);
                        }

                        @include lg {
                            font-size: rem-calc(30);
                        }
                    }

                    p2 {
                        grid-area: p2;
                        color: $brown;
                        font-size: rem-calc(18);
                        margin-top: 20px;

                        @include md {
                            font-size: rem-calc(24);
                        }

                        @include lg {
                            font-size: rem-calc(30);
                        }
                    }
                }
            }






        }

        #p-images {
            grid-area: p-images;
            border-radius: 30px;

            .carousel {

                color: $caramel;

                --carousel-button-bg: #FFF5EB;
                --carousel-button-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);

                --carousel-button-svg-width: 20px;
                --carousel-button-svg-height: 20px;
                --carousel-button-svg-stroke-width: 2.5;
                margin-bottom: 150px;

                @include xl{
                    margin-bottom: 0px;
                }


                .carousel__slide {
                    background-position: center;
                    background-size: cover;
                    height: 350px;
                    margin: 0 10px;
                    border-radius: 30px;

                    @include md {
                        height: 600px;
                    }

                    @include lg {
                        height:600px;
                    }

                    @include xl{
                        height: 650px;
                    }

                    a:link,
                    a:visited {
                        height: 100%;
                        width: 100%;
                        display: inline-block;
                    }
                }

                #p-1 {
                    background-image: url("../img/personality/llama.jpg");
                    
                }

                #p-2 {
                    background-image: url("../img/personality/llamas1.jpg");
                    background-position: bottom center;
                }

                #p-3 {
                    background-image: url("../img/personality/llama2.jpg");
                }

                #p-4 {
                    background-image: url("../img/personality/llama3.jpg");
                }

                #p-5 {
                    background-image: url("../img/personality/llama4.jpg");
                }

                #p-6 {
                    background-image: url("../img/personality/llama5.jpg");

                   
                }
            }
        }



        

        // #thumbCarousel .carousel__slide {
        //     opacity: 0.5;
        //     padding: 0;
        //     margin: 0.25rem;
        //     width: 96px;
        //     height: 64px;
        //   }
          
        //   #thumbCarousel .carousel__slide img {
        //     width: 100%;
        //     height: 100%;
        //     object-fit: cover;
        //     border-radius: 4px;
        //   }
          
        //   #thumbCarousel .carousel__slide.is-nav-selected {
        //     opacity: 1;
        //   }



    }


}