#wheat {
    padding: 64px 0;
    background-color: $tan;
    display: grid;
    grid-template-columns: 40px auto 40px;
    grid-template-areas: ". wheat-content .";


    @include lg {
        grid-template-columns: auto 1000px auto;
        padding: 130px 0;
    }

    @include xl {
        grid-template-columns: auto 1200px auto;
    }


    #wheat-content {
        grid-area: wheat-content;

        >div {
            display: grid;
            grid-template-columns: 30% auto;
            grid-template-areas: "h1 h2"
                "image image"
                "p p"
            ;


            @include md{
                grid-template-columns: 40% 10% auto;
                grid-template-areas: "image h1 h2"
                                    "image . p";
            }

            h1 {
                grid-area: h1;

                @include md{
                    margin-left: -50px;
                }

            }

            h2 {
                grid-area: h2;
                color: $caramel;
                font-size: rem-calc(35);
                margin-left: -20px;

                @include md {
                    font-size: rem-calc(48);
                   
                }

                @include lg{
                    margin-left: 0;
                    margin-top: 30px;
                }
            }


            #wheat-image {
                grid-area: image;
                background-image: url("../img/wheat/wheat.jpg");
                background-position: center;
                background-size: cover;
                height: 300px;
                border-radius: 15px;
                margin: 15px 0;


                @include md{
                    height: 500px;
                    margin: 0 0;
                }

                @include lg{
                    margin-top: 20px;
                }

                // @include xl{
                //     height: 90px;
                // }


            }

            p {
                grid-area: p;
                color: $brown;
                font-size: rem-calc(18);
                margin-top: 15px;

                @include md {
                    font-size: rem-calc(24);
                  
                }

                @include lg {
                    font-size: rem-calc(30);  
                    margin-top: 0;
                }
            }
        }


    }
}