/* =============
    Footer
============= */
footer {
    background-color: $brown;
  
    padding: 64px 0;
    display: grid;
    grid-template-areas: ". footer .";
    grid-template-columns: 45px auto 45px;

    @include lg {
        grid-template-columns: auto 1000px auto;
        padding: 130px 0;
    }

    @include xl {
        grid-template-columns: auto 1300px auto;
    }


    >div {
        grid-area: footer;

        @include md {
            display: grid;
            grid-template-columns: 60% auto;
            grid-template-areas: "h1 subscribe"
                "h5 subscribe"
                "socials subcribe";
        }



        h1 {
            
            color: $tan;
            font-weight: 400;

            @include md{
                grid-area: h1;
            }
        }

        h5 {
            grid-area: h5;
            font-family: 'DM Sans', sans-serif;
            font-weight: 200;
            font-size: rem-calc(18);
            color: $tan;
            margin: 15px 0;
        }

        #socials {
            grid-area: socials;
            margin-top: 30px;

            ul {
                display: flex;
                align-items: center;
                justify-content: center;

            @include md{
                justify-content: flex-start;
               
            }

            

                li {
                    margin: 0 40px;

                    a:link,
                    a:visited{
                        color: $caramel;
                        font-size: rem-calc(40);
                    }

                    a:hover,
                    a:active {
                        color: $tan;
                    }
                }
            }
        }

        #subcribe {

            @include md{
                 grid-area: subcribe;
                 margin-top: -100px;
            }

            @include lg{
                margin-top: -80px
            }
           

            input[type=text],
            select {
                display: inline-block;
                width: 100%;
                padding: 12px 20px;
                border-radius: 10px;
                border: none;
                margin: 8px 0;
                box-sizing: border-box;
                background-color: $tan;
            }
             button {
                width: 100%;
                padding: 12px 20px;
                border-radius: 10px;
                border: none;
                margin: 8px 0;
                box-sizing: border-box;
                background-color: $blue;
                font-family: 'DM Sans', sans-serif;
                font-weight: 300;

                &:hover{
                    background-color: $caramel;
                    color: $blue;
                    cursor: pointer;
                }
            }
        }
    }

}